// Breakpoints for responsive design
$breakpoint-extra-small: 360px;
$breakpoint-small: 480px;
$breakpoint-medium: 600px;
$breakpoint-medium-large: 768px;
$breakpoint-large: 960px;
$breakpoint-extra-large: 1280px;
$breakpoint-extra-extra-large: 1440px;
$breakpoint-ultra-wide: 1920px;
