// Custom utility classes based on Material theme palettes

@use '@angular/material' as mat;
@use 'theme.scss' as theme;
@use 'breakpoints.scss' as breakpoints;

// *** GLOBAL MATERIAL COMPONENT STYLES *** //

// Mat-colors

.mat-primary-color {
    color: mat.m2-get-color-from-palette(theme.$primary) !important;
}
.mat-secondary {
    color: mat.m2-get-color-from-palette(theme.$secondary) !important;
}
.mat-tertiary {
    color: mat.m2-get-color-from-palette(theme.$tertiary) !important;
}
.mat-edit {
    color: mat.m2-get-color-from-palette(theme.$edit) !important;
}
.mat-success {
    color: mat.m2-get-color-from-palette(theme.$success) !important;
}
.mat-error {
    color: mat.m2-get-color-from-palette(theme.$error) !important;
}
.mat-warn {
    color: mat.m2-get-color-from-palette(theme.$warn) !important;
}
.mat-muted {
    color: mat.m2-get-color-from-palette(theme.$muted) !important;
}
.mat-bg-primary {
    background-color: mat.m2-get-color-from-palette(theme.$primary) !important;
}
.mat-bg-secondary {
    background-color: mat.m2-get-color-from-palette(theme.$secondary) !important;
}
.mat-bg-tertiary {
    background-color: mat.m2-get-color-from-palette(theme.$tertiary) !important;
}
.mat-bg-edit {
    background-color: mat.m2-get-color-from-palette(theme.$edit) !important;
}
.mat-bg-success {
    background-color: mat.m2-get-color-from-palette(theme.$success) !important;
}
.mat-bg-error {
    background-color: mat.m2-get-color-from-palette(theme.$error) !important;
}
.mat-bg-warn {
    background-color: mat.m2-get-color-from-palette(theme.$warn) !important;
}
.mat-bg-muted {
    background-color: mat.m2-get-color-from-palette(theme.$muted) !important;
}

// Mat-buttons
.mat-raised-primary-button {
    color: white !important;
    background-color: mat.m2-get-color-from-palette(theme.$primary) !important;
    &:disabled {
        background-color: mat.m2-get-color-from-palette(theme.$primary, 200) !important;
    }
}
.mat-icon-primary-button {
    color: mat.m2-get-color-from-palette(theme.$primary) !important;
    &:disabled {
        color: mat.m2-get-color-from-palette(theme.$primary, 200) !important;
    }
}
.mat-raised-secondary-button {
    background-color: mat.m2-get-color-from-palette(theme.$secondary) !important;
    &:disabled {
        background-color: mat.m2-get-color-from-palette(theme.$secondary, 200) !important;
    }
}
.mat-icon-secondary-button {
    color: mat.m2-get-color-from-palette(theme.$secondary) !important;
}
.mat-raised-tertiary-button {
    color: white !important;
    background-color: mat.m2-get-color-from-palette(theme.$tertiary) !important;
    &:disabled {
        background-color: mat.m2-get-color-from-palette(theme.$tertiary, 200) !important;
    }
}
.mat-icon-tertiary-button {
    color: mat.m2-get-color-from-palette(theme.$tertiary) !important;
    &:disabled {
        color: mat.m2-get-color-from-palette(theme.$tertiary, 200) !important;
    }
}
.mat-raised-danger-button {
    color: white !important;
    background-color: mat.m2-get-color-from-palette(theme.$error) !important;
    &:disabled {
        background-color: mat.m2-get-color-from-palette(theme.$error, 200) !important;
    }
}
.mat-icon-danger-button {
    color: mat.m2-get-color-from-palette(theme.$error) !important;
}
.mat-raised-edit-button {
    color: white !important;
    background-color: mat.m2-get-color-from-palette(theme.$edit) !important;
    &:disabled {
        background-color: mat.m2-get-color-from-palette(theme.$edit, 200) !important;
    }
}
.mat-icon-edit-button {
    color: mat.m2-get-color-from-palette(theme.$edit) !important;
}

// Mat-alerts
.mat-alert-success {
    background-color: mat.m2-get-color-from-palette(theme.$tertiary, 50) !important;
}
.mat-alert-info {
    background-color: mat.m2-get-color-from-palette(theme.$primary, 50) !important;
}
.mat-alert-warning {
    background-color: mat.m2-get-color-from-palette(theme.$warn, 50) !important;
}
