// Custom palettes with default palettes
// Custom palettes with default palettes
$primary-palette: (
    50: var(--theme-primary-color-50, #e0e7ea),
    100: var(--theme-primary-color-100, #b3c3cb),
    200: var(--theme-primary-color-200, #809ca9),
    300: var(--theme-primary-color-300, #4d7486),
    400: var(--theme-primary-color-400, #26566c),
    500: var(--theme-primary-color-500, #003852),
    600: var(--theme-primary-color-600, #00324b),
    700: var(--theme-primary-color-700, #002b41),
    800: var(--theme-primary-color-800, #002438),
    900: var(--theme-primary-color-900, #001728),
    A100: var(--theme-primary-color-A100, #63abff),
    A200: var(--theme-primary-color-A200, #308fff),
    A400: var(--theme-primary-color-A400, #0074fc),
    A700: var(--theme-primary-color-A700, #0068e2),
    contrast: (
        50: var(--theme-primary-color-contrast-50, #000000),
        100: var(--theme-primary-color-contrast-100, #000000),
        200: var(--theme-primary-color-contrast-200, #000000),
        300: var(--theme-primary-color-contrast-300, #ffffff),
        400: var(--theme-primary-color-contrast-400, #ffffff),
        500: var(--theme-primary-color-contrast-500, #ffffff),
        600: var(--theme-primary-color-contrast-600, #ffffff),
        700: var(--theme-primary-color-contrast-700, #ffffff),
        800: var(--theme-primary-color-contrast-800, #ffffff),
        900: var(--theme-primary-color-contrast-900, #ffffff),
        A100: var(--theme-primary-color-contrast-A100, #000000),
        A200: var(--theme-primary-color-contrast-A200, #000000),
        A400: var(--theme-primary-color-contrast-A400, #000000),
        A700: var(--theme-primary-color-contrast-A700, #000000),
    ),
);

$secondary-palette: (
    50: var(--theme-secondary-color-50, #f4f5f6),
    100: var(--theme-secondary-color-100, #e4e7e9),
    200: var(--theme-secondary-color-200, #d3d7db),
    300: var(--theme-secondary-color-300, #c1c6cc),
    400: var(--theme-secondary-color-400, #b3bac1),
    500: var(--theme-secondary-color-500, #a6aeb6),
    600: var(--theme-secondary-color-600, #9ea7af),
    700: var(--theme-secondary-color-700, #959da6),
    800: var(--theme-secondary-color-800, #8b949e),
    900: var(--theme-secondary-color-900, #7b848e),
    A100: var(--theme-secondary-color-A100, #ffffff),
    A200: var(--theme-secondary-color-A200, #e5f0fd),
    A400: var(--theme-secondary-color-A400, #b0d6ff),
    A700: var(--theme-secondary-color-A700, #96c8ff),
    contrast: (
        50: var(--theme-secondary-color-contrast-50, #000000),
        100: var(--theme-secondary-color-contrast-100, #c3c3c3),
        200: var(--theme-secondary-color-contrast-200, #000000),
        300: var(--theme-secondary-color-contrast-300, #000000),
        400: var(--theme-secondary-color-contrast-400, #ffffff),
        500: var(--theme-secondary-color-contrast-500, #ffffff),
        600: var(--theme-secondary-color-contrast-600, #ffffff),
        700: var(--theme-secondary-color-contrast-700, #ffffff),
        800: var(--theme-secondary-color-contrast-800, #ffffff),
        900: var(--theme-secondary-color-contrast-900, #f5f5f5),
        A100: var(--theme-secondary-color-contrast-A100, #000000),
        A200: var(--theme-secondary-color-contrast-A200, #000000),
        A400: var(--theme-secondary-color-contrast-A400, #ffffff),
        A700: var(--theme-secondary-color-contrast-A700, #ffffff),
    ),
);

$accent-palette: (
    50: var(--theme-accent-color-50, #eff5e8),
    100: var(--theme-accent-color-100, #d7e5c5),
    200: var(--theme-accent-color-200, #bdd49f),
    300: var(--theme-accent-color-300, #a3c378),
    400: var(--theme-accent-color-400, #8fb65b),
    500: var(--theme-accent-color-500, #7ba93e),
    600: var(--theme-accent-color-600, #73a238),
    700: var(--theme-accent-color-700, #689830),
    800: var(--theme-accent-color-800, #5e8f28),
    900: var(--theme-accent-color-900, #4b7e1b),
    A100: var(--theme-accent-color-A100, #d8ffb8),
    A200: var(--theme-accent-color-A200, #bdff85),
    A400: var(--theme-accent-color-A400, #a1ff52),
    A700: var(--theme-accent-color-A700, #93ff39),
    contrast: (
        50: var(--theme-accent-color-contrast-50, #000000),
        100: var(--theme-accent-color-contrast-100, #c3c3c3),
        200: var(--theme-accent-color-contrast-200, #000000),
        300: var(--theme-accent-color-contrast-300, #000000),
        400: var(--theme-accent-color-contrast-400, #ffffff),
        500: var(--theme-accent-color-contrast-500, #ffffff),
        600: var(--theme-accent-color-contrast-600, #ffffff),
        700: var(--theme-accent-color-contrast-700, #ffffff),
        800: var(--theme-accent-color-contrast-800, #ffffff),
        900: var(--theme-accent-color-contrast-900, #f5f5f5),
        A100: var(--theme-accent-color-contrast-A100, #000000),
        A200: var(--theme-accent-color-contrast-A200, #000000),
        A400: var(--theme-accent-color-contrast-A400, #ffffff),
        A700: var(--theme-accent-color-contrast-A700, #ffffff),
    ),
);

$tertiary-palette: (
    50: var(--theme-primary-color-50, #e4f0da),
    100: var(--theme-primary-color-100, #c3dea9),
    200: var(--theme-primary-color-200, #a0cb75),
    300: var(--theme-primary-color-300, #7bb740),
    400: var(--theme-primary-color-400, #60a91f),
    500: var(--theme-primary-color-500, #4d841a),
    600: var(--theme-primary-color-600, #457617),
    700: var(--theme-primary-color-700, #3b6514),
    800: var(--theme-primary-color-800, #335411),
    900: var(--theme-primary-color-900, #223909),
    A100: var(--theme-primary-color-A100, #b9ff8a),
    A200: var(--theme-primary-color-A200, #95ff47),
    A400: var(--theme-primary-color-A400, #72f300),
    A700: var(--theme-primary-color-A700, #66db00),
    contrast: (
        50: var(--theme-primary-color-contrast-50, #000000),
        100: var(--theme-primary-color-contrast-100, #000000),
        200: var(--theme-primary-color-contrast-200, #000000),
        300: var(--theme-primary-color-contrast-300, #000000),
        400: var(--theme-primary-color-contrast-400, #ffffff),
        500: var(--theme-primary-color-contrast-500, #ffffff),
        600: var(--theme-primary-color-contrast-600, #ffffff),
        700: var(--theme-primary-color-contrast-700, #ffffff),
        800: var(--theme-primary-color-contrast-800, #ffffff),
        900: var(--theme-primary-color-contrast-900, #ffffff),
        A100: var(--theme-primary-color-contrast-A100, #000000),
        A200: var(--theme-primary-color-contrast-A200, #000000),
        A400: var(--theme-primary-color-contrast-A400, #000000),
        A700: var(--theme-primary-color-contrast-A700, #000000),
    ),
);

$success-palette: (
    50: var(--theme-success-color-50, #e6f4ea),
    100: var(--theme-success-color-100, #c1e4c9),
    200: var(--theme-success-color-200, #97d3a6),
    300: var(--theme-success-color-300, #6cc283),
    400: var(--theme-success-color-400, #4cb66a),
    500: var(--theme-success-color-500, #2caa51),
    600: var(--theme-success-color-600, #27a049),
    700: var(--theme-success-color-700, #21943f),
    800: var(--theme-success-color-800, #1b8936),
    900: var(--theme-success-color-900, #107726),
    A100: var(--theme-success-color-A100, #b8ffd4),
    A200: var(--theme-success-color-A200, #85ffbb),
    A400: var(--theme-success-color-A400, #52ffa2),
    A700: var(--theme-success-color-A700, #3fff98),
    contrast: (
        50: var(--theme-success-color-contrast-50, #000000),
        100: var(--theme-success-color-contrast-100, #000000),
        200: var(--theme-success-color-contrast-200, #000000),
        300: var(--theme-success-color-contrast-300, #000000),
        400: var(--theme-success-color-contrast-400, #ffffff),
        500: var(--theme-success-color-contrast-500, #ffffff),
        600: var(--theme-success-color-contrast-600, #ffffff),
        700: var(--theme-success-color-contrast-700, #ffffff),
        800: var(--theme-success-color-contrast-800, #ffffff),
        900: var(--theme-success-color-contrast-900, #ffffff),
        A100: var(--theme-success-color-contrast-A100, #000000),
        A200: var(--theme-success-color-contrast-A200, #000000),
        A400: var(--theme-success-color-contrast-A400, #000000),
        A700: var(--theme-success-color-contrast-A700, #000000),
    ),
);
$warn-palette: (
    50: #fbe9e7,
    100: #ffccbc,
    200: #ffab91,
    300: #ff8a65,
    400: #ff7043,
    500: #f4511e,
    600: #e64a19,
    700: #d84315,
    800: #bf360c,
    900: #b23c17,
    A100: #ff9e80,
    A200: #ff6e40,
    A400: #ff3d00,
    A700: #dd2c00,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$error-palette: (
    50: var(--theme-error-color-50, #fdecea),
    100: var(--theme-error-color-100, #f9cfcc),
    200: var(--theme-error-color-200, #f4ada9),
    300: var(--theme-error-color-300, #ef8b86),
    400: var(--theme-error-color-400, #eb706b),
    500: var(--theme-error-color-500, #e75450),
    600: var(--theme-error-color-600, #e34d49),
    700: var(--theme-error-color-700, #df4340),
    800: var(--theme-error-color-800, #db3a38),
    900: var(--theme-error-color-900, #d4292a),
    A100: var(--theme-error-color-A100, #ffcdd2),
    A200: var(--theme-error-color-A200, #ef9a9a),
    A400: var(--theme-error-color-A400, #e57373),
    A700: var(--theme-error-color-A700, #d32f2f),
    contrast: (
        50: var(--theme-error-color-contrast-50, #000000),
        100: var(--theme-error-color-contrast-100, #000000),
        200: var(--theme-error-color-contrast-200, #000000),
        300: var(--theme-error-color-contrast-300, #000000),
        400: var(--theme-error-color-contrast-400, #ffffff),
        500: var(--theme-error-color-contrast-500, #ffffff),
        600: var(--theme-error-color-contrast-600, #ffffff),
        700: var(--theme-error-color-contrast-700, #ffffff),
        800: var(--theme-error-color-contrast-800, #ffffff),
        900: var(--theme-error-color-contrast-900, #ffffff),
        A100: var(--theme-error-color-contrast-A100, #000000),
        A200: var(--theme-error-color-contrast-A200, #000000),
        A400: var(--theme-error-color-contrast-A400, #000000),
        A700: var(--theme-error-color-contrast-A700, #ffffff),
    ),
);
$edit-palette: (
    50: var(--theme-edit-color-50, #e3f2fd),
    100: var(--theme-edit-color-100, #bbdefb),
    200: var(--theme-edit-color-200, #90caf9),
    300: var(--theme-edit-color-300, #64b5f6),
    400: var(--theme-edit-color-400, #42a5f5),
    500: var(--theme-edit-color-500, #2196f3),
    600: var(--theme-edit-color-600, #1e88e5),
    700: var(--theme-edit-color-700, #1976d2),
    800: var(--theme-edit-color-800, #1565c0),
    900: var(--theme-edit-color-900, #0d47a1),
    A100: var(--theme-edit-color-A100, #82b1ff),
    A200: var(--theme-edit-color-A200, #448aff),
    A400: var(--theme-edit-color-A400, #2979ff),
    A700: var(--theme-edit-color-A700, #2962ff),
    contrast: (
        50: var(--theme-edit-color-contrast-50, #000000),
        100: var(--theme-edit-color-contrast-100, #000000),
        200: var(--theme-edit-color-contrast-200, #000000),
        300: var(--theme-edit-color-contrast-300, #000000),
        400: var(--theme-edit-color-contrast-400, #ffffff),
        500: var(--theme-edit-color-contrast-500, #ffffff),
        600: var(--theme-edit-color-contrast-600, #ffffff),
        700: var(--theme-edit-color-contrast-700, #ffffff),
        800: var(--theme-edit-color-contrast-800, #ffffff),
        900: var(--theme-edit-color-contrast-900, #ffffff),
        A100: var(--theme-edit-color-contrast-A100, #000000),
        A200: var(--theme-edit-color-contrast-A200, #ffffff),
        A400: var(--theme-edit-color-contrast-A400, #ffffff),
        A700: var(--theme-edit-color-contrast-A700, #ffffff),
    ),
);

$muted-palette: (
    50: var(--theme-muted-color-50, #f5f5f5),
    100: var(--theme-muted-color-100, #eeeeee),
    200: var(--theme-muted-color-200, #e0e0e0),
    300: var(--theme-muted-color-300, #bdbdbd),
    400: var(--theme-muted-color-400, #9e9e9e),
    500: var(--theme-muted-color-500, #757575),
    600: var(--theme-muted-color-600, #616161),
    700: var(--theme-muted-color-700, #424242),
    800: var(--theme-muted-color-800, #212121),
    900: var(--theme-muted-color-900, #000000),
    A100: var(--theme-muted-color-A100, #f5f5f5),
    A200: var(--theme-muted-color-A200, #eeeeee),
    A400: var(--theme-muted-color-A400, #bdbdbd),
    A700: var(--theme-muted-color-A700, #616161),
    contrast: (
        50: var(--theme-muted-color-contrast-50, #000000),
        100: var(--theme-muted-color-contrast-100, #000000),
        200: var(--theme-muted-color-contrast-200, #000000),
        300: var(--theme-muted-color-contrast-300, #000000),
        400: var(--theme-muted-color-contrast-400, #000000),
        500: var(--theme-muted-color-contrast-500, #ffffff),
        600: var(--theme-muted-color-contrast-600, #ffffff),
        700: var(--theme-muted-color-contrast-700, #ffffff),
        800: var(--theme-muted-color-contrast-800, #ffffff),
        900: var(--theme-muted-color-contrast-900, #ffffff),
        A100: var(--theme-muted-color-contrast-A100, #000000),
        A200: var(--theme-muted-color-contrast-A200, #000000),
        A400: var(--theme-muted-color-contrast-A400, #000000),
        A700: var(--theme-muted-color-contrast-A700, #ffffff),
    ),
);
