@import 'theme.scss';

// Default palettes
$primary: map-get($sergio-asensio-cv-app-main-theme, primary);
$accent: map-get($sergio-asensio-cv-app-main-theme, accent);
$warn: map-get($sergio-asensio-cv-app-main-theme, warn);
// Custom palettes
$secondary: map-get($sergio-asensio-cv-app-main-theme, secondary);
$success: map-get($sergio-asensio-cv-app-main-theme, success);
$error: map-get($sergio-asensio-cv-app-main-theme, error);
