<div id="profile" class="profile pt-4">
    <h1 class="profile__title fw-bold fs-3 text-secondary text-center">
        {{ 'profile' | translate }}
    </h1>

    <hr />

    <div class="container px-0">
        <div class="row g-4">
            <div class="col-12 col-md-6" *ngFor="let item of 'curriculum_page.profile_section.content' | translate; let i = index">
                <div class="profile__card h-100 rounded-4 p-4">
                    <div class="d-flex align-items-start gap-3">
                        <div class="profile__icon">
                            <mat-icon>{{ profileIcons[i] }}</mat-icon>
                        </div>

                        <div>
                            <h2 class="profile__card-title fw-bold fs-6 mb-2">
                                {{ profileTitleKeys[i] | translate }}
                            </h2>

                            <p class="profile__card-text mb-0 lh-lg">
                                {{ item }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
