<body>
    <header id="header"></header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid" src="/assets/img/profile.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">{{ 'home_section.introduction.title' | translate }}</h2>
                        <br />
                        <p [innerHTML]="'home_section.introduction.content' | translate | noComma"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid" src="/assets/img/technologies.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">{{ 'home_section.technologies.title' | translate }}</h2>
                        <br />
                        <p [innerHTML]="'home_section.technologies.content' | translate | noComma"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid" src="/assets/img/kanban.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">{{ 'home_section.agile.title' | translate }}</h2>
                        <br />
                        <p [innerHTML]="'home_section.agile.content' | translate | noComma"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid" src="/assets/img/about-me.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">{{ 'home_section.about_me.title' | translate }}</h2>
                        <br />
                        <p [innerHTML]="'home_section.about_me.content' | translate | noComma"></p>
                        <a routerLink="contact" [innerHTML]="'home_section.about_me.contact_link' | translate | noComma"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
