<div id="languages" class="languages pt-4">
    <h1 class="languages__title fw-bold fs-3 mat-tertiary text-center">
        {{ 'languages' | translate }}
    </h1>
    <hr />
    <div class="languages__content text-center">
        <div class="row">
            <div class="col-6 languages__item">
                <h5 class="languages__item-title" role="default">
                    {{ 'curriculum_page.language_section.spanish' | translate }}
                </h5>
                <p class="languages__item-description hover-color">
                    {{ 'curriculum_page.language_section.spanish_level_description' | translate }}
                </p>
            </div>
            <div class="col-6 languages__item">
                <h5 class="languages__item-title" role="default">
                    {{ 'curriculum_page.language_section.english' | translate }}
                </h5>
                <p class="languages__item-description hover-color">
                    {{ 'curriculum_page.language_section.english_level_description' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
