<div id="work_experience" class="work-experience pt-4">
    <h1 class="work-experience__title fw-bold fs-3 text-secondary text-center">{{ 'work_experience' | translate }}</h1>
    <hr />
    <div class="work-experience__content text-center container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="work-experience__timeline main-timeline">
                        <!-- ADASA -->
                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_1.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_1.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_1.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_2.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_2.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_2.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_3.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_3.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_3.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_4.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_4.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_4.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_5.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_5.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_5.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.proyect_6.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead_content.proyect_6.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.technical_lead_content.proyect_6.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c4">
                                <div class="circle circle-c4">
                                    <img class="img-fluid rounded-circle company-logo" src="assets/img/adasa.png" alt="" />
                                </div>
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c4">{{
                                        'curriculum_page.work_experience_section.technical_lead_content.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c4">
                                        {{ 'curriculum_page.work_experience_section.technical_lead' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="'curriculum_page.work_experience_section.company_4' | translate"
                                    ></div>
                                    <div class="work-experience__icon icon icon-c4"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- UST -->
                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c3">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c3">{{
                                        'curriculum_page.work_experience_section.senior_analyst_developer_content.proyect_1.date'
                                            | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c3">
                                        {{
                                            'curriculum_page.work_experience_section.senior_analyst_developer_content.proyect_1.name'
                                                | translate
                                        }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.senior_analyst_developer_content.proyect_1.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c3"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c3">
                                <div class="circle circle-c3">
                                    <img class="img-fluid rounded-circle company-logo" src="assets/img/ust-global.png" alt="" />
                                </div>
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c3">{{
                                        'curriculum_page.work_experience_section.senior_analyst_developer_content.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c3">
                                        {{ 'curriculum_page.work_experience_section.senior_analyst_developer' | translate }}
                                    </h4>
                                    <hr />

                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="'curriculum_page.work_experience_section.company_3' | translate"
                                    ></div>
                                    <div class="work-experience__icon icon icon-c3"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- OESIA PROMOTION -->
                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c2-1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c2-1">{{
                                        'curriculum_page.work_experience_section.analyst_developer_content.proyect_1.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c2-1">
                                        {{ 'curriculum_page.work_experience_section.analyst_developer_content.proyect_1.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.analyst_developer_content.proyect_1.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c2-1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c2-1">
                                <div class="circle circle-c2">
                                    <img class="img-fluid rounded-circle company-logo" src="assets/img/oesia-promotion.png" alt="" />
                                </div>
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c2-1">{{
                                        'curriculum_page.work_experience_section.analyst_developer_content.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c2-1">
                                        {{ 'curriculum_page.work_experience_section.analyst_developer' | translate }}
                                    </h4>
                                    <hr />

                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="'curriculum_page.work_experience_section.company_2_1' | translate"
                                    ></div>
                                    <div class="work-experience__icon icon icon-c2-1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- OESIA -->
                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c2">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c2">{{
                                        'curriculum_page.work_experience_section.senior_developer_content.proyect_1.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c2">
                                        {{ 'curriculum_page.work_experience_section.senior_developer_content.proyect_1.name' | translate }}
                                    </h4>
                                    <hr />

                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.senior_developer_content.proyect_1.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c2"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c2">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c2">{{
                                        'curriculum_page.work_experience_section.senior_developer_content.proyect_2.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c2">
                                        {{ 'curriculum_page.work_experience_section.senior_developer_content.proyect_2.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.senior_developer_content.proyect_2.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c2"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c2">
                                <div class="circle circle-c2">
                                    <img class="img-fluid rounded-circle company-logo" src="assets/img/oesia.png" alt="" />
                                </div>
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c2">{{
                                        'curriculum_page.work_experience_section.senior_developer_content.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c2">
                                        {{ 'curriculum_page.work_experience_section.senior_developer' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="'curriculum_page.work_experience_section.company_2' | translate"
                                    ></div>
                                    <div class="work-experience__icon icon icon-c2"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <!-- DXD -->
                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_1.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_1.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_1.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_2.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_2.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_2.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_3.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_3.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_3.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_4.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_4.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_4.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_5.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_5.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_5.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_6.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_6.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_6.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_7.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_7.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_7.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.proyect_8.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer_content.proyect_8.name' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="
                                            'curriculum_page.work_experience_section.developer_content.proyect_8.description'
                                                | translate
                                                | noComma
                                        "
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience__timeline-item timeline">
                            <div class="work-experience__timeline-content timeline-content timeline-content-c1">
                                <div class="circle circle-c1">
                                    <img class="img-fluid rounded-circle company-logo" src="assets/img/deloitte.png" alt="" />
                                </div>
                                <div class="work-experience__content-block content">
                                    <span class="work-experience__year year year-c1">{{
                                        'curriculum_page.work_experience_section.developer_content.date' | translate
                                    }}</span>
                                    <h4 class="work-experience__title title title-c1">
                                        {{ 'curriculum_page.work_experience_section.developer' | translate }}
                                    </h4>
                                    <hr />
                                    <div
                                        class="work-experience__description description"
                                        [innerHTML]="'curriculum_page.work_experience_section.company_1' | translate"
                                    ></div>
                                    <div class="work-experience__icon icon icon-c1"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
