<mat-sidenav-container class="sidenav" *ngIf="params$ | async; let params">
    <mat-sidenav
        #sidenav
        id="sidenav"
        [opened]="params.showSidenav"
        [mode]="params.deviceType !== DeviceType.Small ? 'side' : 'over'"
        class="mat-elevation-z2"
        (openedChange)="onSidenavToggle($event)"
    >
        <mat-toolbar class="sidenav__toolbar" color="primary">
            <mat-toolbar-row class="sidenav__toolbar__header">
                <span class="sidenav__toolbar__header__title">
                    {{ 'brand.title' | translate }}<br />
                    <span class="sidenav__toolbar__header__subtitle">
                        {{ 'brand.subtitle' | translate }}
                    </span>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-sidenav-left-menu [modules]="params.leftModules" (changeModule)="setLeftModule($event)"> </app-sidenav-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav__content">
        <app-sidenav-top-menu
            [existSidenav]="existSidenav(params.topModule)"
            [deviceType]="params.deviceType"
            [modules]="params.topModules"
            (toggleSidenav)="params.showSidenav ? hideSidenav() : showSidenav()"
            (changeModule)="setTopModule($event)"
            (changeLanguage)="setLanguage($event)"
        ></app-sidenav-top-menu>
        <div class="sidenav__content__router">
            <router-outlet></router-outlet>
        </div>
        <div class="sticky-bottom w-100">
            <app-sidenav-bottom-menu></app-sidenav-bottom-menu>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
