<div class="message-dialog">
  <div class="message-dialog__icon">
    <mat-icon [color]="color" [inline]="true">
      {{
      data.type === MessageType.Informative
      ? 'info'
      : data.type === MessageType.Error
      ? 'error'
      : data.type === MessageType.Success
      ? 'done'
      : 'warning'
      }}
    </mat-icon>
  </div>
  <h1 mat-dialog-title class="message-dialog__title">
    {{ data.title | translate }}
  </h1>
  <div mat-dialog-content class="message-dialog__content">
    @for (message of data.messages; track message) {
      <p>{{ message }}</p>
    }
  </div>
  <div mat-dialog-actions class="message-dialog__actions">
    <button mat-button mat-dialog-close mat-stroked-button [color]="color">
      {{ 'close' | translate }}
    </button>
  </div>
</div>
