<div id="publications" class="profile pt-4 text-center">
    <h1 class="publications__title fw-bold fs-3 text-secondary">
        {{ 'publications' | translate }}
    </h1>
    <hr />
    <div class="d-flex justify-content-center">
        <a href="https://zaguan.unizar.es/record/36919/files/TAZ-TFG-2015-4450.pdf" target="_blank" class="text-decoration-none">
            <p class="hover-color mb-0">
                <i class="fas fa-paperclip"></i>&nbsp;&nbsp;{{ 'curriculum_page.publications_section.tfg' | translate }}
            </p>
        </a>
    </div>
</div>
