<div id="certifications" class="profile pt-4 text-center">
    <h1 class="certifications__title fw-bold fs-3 text-secondary">
        {{ 'certifications' | translate }}
    </h1>
    <hr />
    <div class="d-flex justify-content-center">
        <a role="default" class="text-decoration-none">
            <p class="hover-color mb-0">
                <i class="fas fa-trophy"></i>&nbsp;&nbsp;{{ 'curriculum_page.certifications_section.oracle_certification' | translate }}
            </p>
        </a>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <a role="default" class="text-decoration-none">
            <p class="hover-color mb-0">
                <i class="fas fa-trophy"></i>&nbsp;&nbsp;{{ 'curriculum_page.certifications_section.azure_certification' | translate }}
            </p>
        </a>
    </div>
</div>
