@use '@angular/material' as mat;
// Import palette
@use '../../../../styles/theme.scss' as theme;

.sidenav-left-menu {
    margin-top: 5px;

    &__item {
        &__content {
            margin-left: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            &__link {
                color: white;
                margin-left: 10px;
            }
            &__icon {
                color: white;
            }
        }
        &:hover {
            background-color: mat.m2-get-color-from-palette(theme.$primary, 500);
        }
        &--active {
            background-color: mat.m2-get-color-from-palette(theme.$tertiary, 500);
            border-radius: 4px;
            &:hover {
                background-color: mat.m2-get-color-from-palette(theme.$tertiary, 600);
            }
        }
    }
    &__expansion-panel {
        background-color: mat.m2-get-color-from-palette(theme.$primary, 500);
        color: white;
        border-radius: 0;
        box-shadow: none;
        &__header {
            &__content {
                display: flex;
                align-items: center;
                &__link {
                    color: white;
                    margin-left: 10px;
                }
                &__icon {
                    color: white;
                }
            }
        }
        mat-expansion-panel-header {
            &:hover {
                background-color: mat.m2-get-color-from-palette(theme.$primary, 600) !important;
                cursor: pointer;
            }
        }
        &--active {
            mat-expansion-panel-header {
                background-color: mat.m2-get-color-from-palette(theme.$tertiary, 500);
                border-radius: 4px;
                &:hover {
                    background-color: mat.m2-get-color-from-palette(theme.$tertiary, 600);
                    cursor: pointer;
                }
            }
        }
    }
}
