.sidenav-left-menu {
    &__list {
        padding-top: 30px;
        .mat-expansion-panel {
            background: #1a202e;
            color: #a1a2b6;
            .mat-expansion-panel-header {
                a {
                    margin-left: 8px;
                }
            }
        }
        .mat-expansion-panel:hover {
            background: #141924;
            color: #ffffff;
        }
        .mat-list-item {
            .mat-icon {
                color: #a1a2b6;
            }
            a {
                color: #a1a2b6;
                font-size: 14px;
            }
        }
        .mat-list-item:hover {
            background: #243c57;
            .mat-icon {
                color: #4f80bf;
            }
            a {
                color: #ffffff;
            }
        }
        .mat-expansion-panel-header a {
            font-size: 14px;
        }
        &__version {
            bottom: 0;
            justify-content: center;
            display: flex;
            color: #a1a2b6;
            font-size: 10px;
            background: #2c4766;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}
