<div id="software_tools" class="software_tools pt-4">
    <h1 class="software_tools__title fw-bold fs-3 text-secondary text-center">
        {{ 'software_tools' | translate }}
    </h1>
    <hr />
    <div class="software_tools__content text-center">
        <ul class="software_tools__list list-inline dev-icons">
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-java-plain colored" alt="a" data-toggle="tooltip" title="Java"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-salesforce-plain colored" data-toggle="tooltip" title="Salesforce"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <img
                    class="software_tools__item-icon img-fluid thingsboard-logo"
                    src="assets/img/thingsboard-logo.png"
                    data-toggle="tooltip"
                    title="Thingsboard"
                />
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-angularjs-plain colored" data-toggle="tooltip" title="Angular"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-flutter-plain colored" data-toggle="tooltip" title="Flutter"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-nodejs-plain colored" data-toggle="tooltip" title="NodeJS"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-npm-original-wordmark" data-toggle="tooltip" title="Npm"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-heroku-original colored" data-toggle="tooltip" title="Heroku"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-typescript-plain colored" data-toggle="tooltip" title="Typescript"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-javascript-plain colored" data-toggle="tooltip" title="Javascript"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-jquery-plain colored" data-toggle="tooltip" title="Jquery"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-html5-plain colored" data-toggle="tooltip" title="HTML5"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-css3-plain colored" data-toggle="tooltip" title="CSS3"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-sass-original colored" data-toggle="tooltip" title="SASS"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-bootstrap-plain colored" data-toggle="tooltip" title="Bootstrap"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-oracle-original colored" data-toggle="tooltip" title="Oracle"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-postgresql-plain colored" data-toggle="tooltip" title="PostgreSQL"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-git-plain colored" data-toggle="tooltip" title="Git"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-github-plain colored" data-toggle="tooltip" title="Github"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-bitbucket-plain colored" data-toggle="tooltip" title="Bitbucket"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-intellij-plain colored" data-toggle="tooltip" title="Intellij"></i>
            </li>
            <li class="software_tools__item list-inline-item">
                <i class="software_tools__item-icon devicon-visualstudio-plain colored" data-toggle="tooltip" title="Visual Studio"></i>
            </li>
        </ul>
    </div>
</div>
