@use '@angular/material' as mat;
// Import theme variables
@import '../../styles/variables.scss';

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(112, 111, 111);
}

ul ul a {
    font-size: 0.9em !important;
}

//Curriculum Elements Styles

.fa-navicon {
    color: #343a40;
}
#main {
    position: relative;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    transition: all 0.3s;
}
#main.active {
    margin-left: 15px;
}

.section {
    color: rgb(77, 27, 12);
}
.card {
    border: transparent 1px rgb(77, 27, 12);
    background-color: rgba(37, 37, 37, 0.04);
    margin-right: 20px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
.lead {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}
.center {
    text-align: center;
    padding-right: 20px;
}

.hover-color:hover {
    color: mat.get-color-from-palette($primary, 800);
}
.dev-icons {
    font-size: 3rem;
    text-align: center;
}
.dev-icons .list-inline-item i:hover {
    color: grey;
}
.dev-icons .list-inline-item img:hover {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: gray;
}
.thingsboard-logo {
    width: 180px;
    font-size: 2rem;
    padding-bottom: 20px;
}

// Timeline Styles

//Movil Styles
@media (max-width: 767px) {
    #sidebar {
        width: 69px;
        margin-left: -15px;
        border-radius: 5px;
    }

    #sidebar.active {
        margin-left: -70px;
    }

    #main.active {
        margin-left: 28px;
    }
    #sidebarActivator {
        margin-left: 70px;
        transition: all 0.3s;
    }
    #sidebar ul li a {
        padding-bottom: 1px;
        padding-left: 28px;

        margin-top: 0px;
    }
    .lead {
        font-weight: 800;
        font-size: 23px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
    }
}
