<div id="training_courses__title" class="training_courses__title pt-4 text-center">
    <h1 class="training_courses__title fw-bold fs-3 text-secondary">
        {{ 'training_courses' | translate }}
    </h1>
    <hr />
    <div class="center">
        <div class="row">
            <div class="col-6">
                <div class="col">
                    <b>
                        <h5 role="default">
                            {{ 'curriculum_page.training_courses_section.courses' | translate }}
                        </h5>
                    </b>
                </div>

                <div class="col">
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.course_1' | translate }}</p>
                    </a>
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.course_2' | translate }}</p>
                    </a>
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.course_3' | translate }}</p>
                    </a>
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.course_4' | translate }}</p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="col">
                    <b>
                        <h5 role="default">
                            {{ 'curriculum_page.training_courses_section.presentations' | translate }}
                        </h5>
                    </b>
                </div>
                <div class="col">
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.presentation_1' | translate }}</p>
                    </a>
                    <a role="default">
                        <p class="hover-color">{{ 'curriculum_page.training_courses_section.presentation_2' | translate }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
