<div id="personal_data" class="personal-data">
    <h1 class="personal-data__title fw-bold fs-3 text-secondary text-center">{{ 'personal_data' | translate }}</h1>

    <div class="personal-data__content justify-content-center">
        <div class="personal-data__card card align-items-center personal-data__card bg-light text-center shadow">
            <div class="row personal-data__row p-4">
                <div class="col-6 personal-data__field">
                    <h6 class="personal-data__label">
                        <b>{{ 'curriculum_page.personal_data_section.name' | translate }}</b>
                    </h6>
                </div>
                <div class="col-6 personal-data__value">
                    <p class="personal-data__value-text">
                        {{ 'curriculum_page.personal_data_section.name_value' | translate }}
                    </p>
                </div>

                <div class="col-6 personal-data__field">
                    <h6 class="personal-data__label">
                        <b>{{ 'curriculum_page.personal_data_section.city' | translate }}</b>
                    </h6>
                </div>
                <div class="col-6 personal-data__value">
                    <p class="personal-data__value-text">
                        {{ 'curriculum_page.personal_data_section.city_value' | translate }}
                    </p>
                </div>

                <div class="col-6 personal-data__field">
                    <h6 class="personal-data__label">
                        <b>{{ 'curriculum_page.personal_data_section.phone' | translate }}</b>
                    </h6>
                </div>
                <div class="col-6 personal-data__value">
                    <p class="personal-data__value-text">
                        {{ 'curriculum_page.personal_data_section.phone_value' | translate }}
                    </p>
                </div>

                <div class="col-6 personal-data__field">
                    <h6 class="personal-data__label">
                        <b>{{ 'curriculum_page.personal_data_section.birthdate' | translate }}</b>
                    </h6>
                </div>
                <div class="col-6 personal-data__value">
                    <p class="personal-data__value-text">
                        {{ 'curriculum_page.personal_data_section.birthdate_value' | translate }}
                    </p>
                </div>

                <div class="col-6 personal-data__field">
                    <h6 class="personal-data__label">
                        <b>{{ 'curriculum_page.personal_data_section.email' | translate }}</b>
                    </h6>
                </div>
                <div class="col-6 personal-data__value">
                    <p class="personal-data__value-text">
                        {{ 'curriculum_page.personal_data_section.email_value' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
